body{
  padding: 0;
  margin: 0;
  background-image: url(img/back.png);
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
}

:root {
 --add_module_height: 400px;
 --custom_color: rgb(0,100,255);
 --input_height: 30px;
 --input_width: 200px;

 --dark_color: #2f3542;
 --light_color:#57606f;


 --nav_height: 50px;

 --footer_height: 200px;
}

/*###################################################*/
/*    MAIN PAGE   ###################################*/
/*###################################################*/

#main_page{
  /*filter: blur(3px);*/
}

main{
  padding: 40px 0 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: calc(100vh - var(--footer_height) - var(--nav_height) - 90px);
}

.module{
  background-color: white;
  border-radius: 20px;
  border-bottom: 4px solid rgba(0,0,0,0.2);
  border-left: 5px solid rgba(0,0,0,0.2);
  padding: 10px;
  margin: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.more_button{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 28px;
  height: 28px;
  z-index: 100;
}

.more_button:hover .more_2{
  right: 10px;
  opacity: 0;
  transition: 0.2s all linear;
  transition-delay: 0.3s;
}

.more_button:hover .more_1{
  transform: rotate(45deg);
  width: 21px;
  left: 4px;
  top: 13px;
  transition: 0.2s all linear;
  transition-delay: 0.3s;
}

.more_button:hover .more_3{
  transform: rotate(-45deg);
  width: 21px;
  top: 13px;
  left: 4px;
  transition: 0.2s all linear;
  transition-delay: 0.3s;
}

.more_button_common{
  position: absolute;
  width: 16px;
  border-bottom: 2px solid rgba(0,0,0,0.4);
  margin-bottom: 5px;
  transition: 0.2s all linear;
  z-index: 101;
}

.more_1{
  transform: rotate(0deg);
  transform-origin: center;
  top: 6px;
  left: 6px;
}

.more_2{
  opacity: 1;
  top: 13px;
  right: 6px;
}

.more_3{
  transform: rotate(0deg);
  transform-origin: center;
  top: 20px;
  left: 6px;
}

.action_popup{
  position: absolute;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  width: 200px;
  height: 0;
  top: -5px;
  right: -5px;
  box-shadow: 0 0 15px black;
  transition: 0.1s all ease-out;
  z-index: 101;
}

.more_button:hover .action_popup{
  height: 100px;
  transition: 0.3s all ease-out;
  transition-delay: 0.3s;

}

.actions{
  float: left;
  width: 163px;
}

.action_common{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 10px;
  cursor: pointer;
}

.action_modify{
  border-bottom: 1px solid rgba(0,0,0,0.1);
  transition: 0.4s all ease-out;
}

.action_modify:hover{
    background-color: rgba(0,0,0,0.2);
    transition: 0.4s all ease-out;
}

.action_delete{
  background-color: none;
  transition: 0.4s all ease-out;
}

.action_delete:hover{
  background-color: #e55039;
  transition: 0.4s all ease-out;
}

.black_blur{
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0,0,0,0.6);
  transition: 0.3s all ease-out;
  transition-delay: 0.3s;
  z-index: 99;
}

.more_button:hover + div{
  width: 100vw;
  height: 100vh;
  opacity: 1;
}

.module_title{
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px 10px 20px;
  border-radius: 100px;
  background-color: rgba(0,0,0,0.1);
  height: var(--input_height);
}

.module_description{
  padding: 10px;
  width: 200px;
  text-align: center;
}

#button_add_module{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: white;
  margin: 20px;
  border-bottom: 4px solid rgba(0,0,0,0.2);
  border-left: 5px solid rgba(0,0,0,0.2);
  background-image: url(img/croix.png);
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#button_add_module:hover{
  transition: 0.1s all linear;
  background-size: 60px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--nav_height);
  background-color: var(--dark_color);
  border-bottom: 5px solid rgba(0,0,0,0.1);
  overflow: hidden;
  color: white;
}

#nav_buttons{
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  display: relative;
}

#nav_logo{
  height: calc(var(--nav_height) - 20px);
  padding: 10px 50px 10px 20px;
  background-color: white;
  border-radius: 0 50px 50px 0;

}

.nav_button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 20px);
  padding: 10px 20px 10px 20px;
  border-right: 1px solid rgba(255,255,255,0.1);
  cursor: pointer;
}

.nav_button:hover{
  background-color: rgba(0,0,0,0.1);
}

#settings_buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: black;
}

#goto_settings_buttons{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  padding: 0 10px 0 10px;
  right: -100px;
  width: 140px;
  height: var(--nav_height);
  border-radius: 50px 0 0 50px;
  cursor: pointer;
  background-color: white;
  transition: 0.4s all ease-out;
}

#goto_settings_buttons:hover{
  transition: 0.2s all ease-out;
  right: 0;
}

#goto_settings_buttons:hover #goto_settings_logo{
  transition: 0.4s all ease-out;
  transform: rotate(-90deg);
}

 #goto_settings_logo{
   transition: 0.4s all ease-out;
   transform: rotate(0deg);
   height: calc(var(--nav_height) - 10px);
   margin-right: 15px;
 }

/*###################################################*/
/*ADD MODULE POPUP    ###############################*/
/*###################################################*/

#add_module_menu{
  background-color: rgba(30,30,30,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

#add_module_window{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  height: var(--add_module_height);
}

.add_module_title{
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px 10px 20px;
  border-radius: 100px;
  background-color: rgba(0,0,0,0.1);
  height: var(--input_height);
}

#add_module_select_color{
  border: none;
  border-radius: 100px;
  position: absolute;
  width:100px;
  height: 100px;
  top:-50px;
  left:-50px;

}

#add_module_select_color_container{
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  width: var(--input_height);
  height: var(--input_height);
  margin-left: 20px;
}

#add_module_submit{
  height: var(--add_module_height);
  min-width: 100px;
  background-color: rgb(50,50,50,0.1);
  border-radius: 0 20px 20px 0;
  background-image: url(img/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75px;
  transition: 0.5s all ease-out;
  cursor: pointer;
}

#add_module_submit:hover{
  background-color: rgb(50,50,50,0.3);
  transition: 0.5s all ease-out;
}


#add_module_name{
}

#add_module_command{
  padding-left: 40px;
  background-image: url(img/arrow.png);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 20px;
  width: calc(var(--input_width) - 30px);
  transition: 1s all ease-out;
}

#add_module_command:focus{
  transition: 0.5s all ease-out;
  width: calc(var(--input_width) + 150px);
}

#add_module_parameter{
  margin-left: 20px;
}

#add_module_list{
  list-style-type:none;
  padding: 0;
  margin: 20px;
}

li{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0 10px 0;
}

ul{
  margin: 0;
  padding: 0;
}

footer{
  height: var(--footer_height);
  background-color: var(--dark_color);
  border-top: 5px solid rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(200,200,200);

}

#footer_content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical_line{
  height: 100px;
  border-left: 2px solid rgb(130,130,130);
  margin: 0 30px 0 30px;
}


/*###################################################*/
/*INPUT    ##########################################*/
/*###################################################*/

input[type="text"]{
  height: var(--input_height);
  width: var(--input_width);
  padding: 10px;
  border-radius: 500px;
  background-color: rgba(0,0,0,0.1);
  border: none;
}

input[type="button"]{
  height: 50px;
  width: calc(var(--input_width) + 20px);
  border-radius: 500px;
  background-color: rgba(0,0,0,0.1);
  border: none;
  border-bottom: 3px solid rgba(0,0,0,0.1);
  margin: 0;
}

input[type="button"]:active{
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

input[type="checkbox"].switch{
	font-size: 30px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 2.5em;
	height: var(--input_height);
	background: #ddd;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }

  input[type="checkbox"].switch:checked{
	background: var(--custom_color);
  }

  input[type="checkbox"].switch:after{
	position: absolute;
	content: "";
	width: var(--input_height);
	height: var(--input_height);
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }

  input[type="checkbox"].switch:checked:after{
	left: calc(100% - var(--input_height));
  }
