body{
  padding: 0;
  margin: 0;
  background-image: url(../img/back.png);
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
}

:root {
 --add_module_height: 400px;
 --custom_color: rgb(0,100,255);
 --input_height: 30px;
 --input_width: 200px;

 --dark_color: #2f3542;
 --light_color:#57606f;


 --nav_height: 50px;

 --footer_height: 200px;
}


main{
  padding: 40px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: calc(100vh - var(--footer_height) - var(--nav_height) - 90px);
}


/*###################################################*/
/*    MODULES  ######################################*/
/*###################################################*/

.module{
  background-color: rgba(255,255,255,0.3);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.color_container{
  margin: 20px;
  border-radius: 20px;
  border-bottom: 4px solid rgba(120,120,120,0.4);
  border-left: 5px solid rgba(120,120,120,0.4);
  overflow: hidden;
}

.more_button{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 28px;
  height: 28px;
  z-index: 100;
}

.more_button:hover .more_2{
  right: 10px;
  opacity: 0;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.more_button:hover .more_1{
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 21px;
  left: 4px;
  top: 13px;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.more_button:hover .more_3{
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 21px;
  top: 13px;
  left: 4px;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.more_button_common{
  position: absolute;
  width: 16px;
  border-bottom: 2px solid rgba(0,0,0,0.4);
  margin-bottom: 5px;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  z-index: 101;
}

.more_1{
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  top: 6px;
  left: 6px;
}

.more_2{
  opacity: 1;
  top: 13px;
  right: 6px;
}

.more_3{
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  top: 20px;
  left: 6px;
}

.action_popup{
  position: absolute;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  width: 200px;
  height: 0;
  top: -5px;
  right: -5px;
  -webkit-box-shadow: 0 0 15px black;
          box-shadow: 0 0 15px black;
  -webkit-transition: 0.1s all ease-out;
  transition: 0.1s all ease-out;
  z-index: 101;
}

.more_button:hover .action_popup{
  height: 100px;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;

}

.actions{
  float: left;
  width: 163px;
}

.action_common{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  padding: 10px;
  cursor: pointer;
}

.action_modify{
  border-bottom: 1px solid rgba(0,0,0,0.1);
  -webkit-transition: 0.4s all ease-out;
  transition: 0.4s all ease-out;
}

.action_modify:hover{
    background-color: rgba(0,0,0,0.2);
    -webkit-transition: 0.4s all ease-out;
    transition: 0.4s all ease-out;
}

.action_delete{
  background-color: none;
  -webkit-transition: 0.4s all ease-out;
  transition: 0.4s all ease-out;
}

.action_delete:hover{
  background-color: #e55039;
  -webkit-transition: 0.4s all ease-out;
  transition: 0.4s all ease-out;
}

.more_button:hover + div{
  width: 100vw;
  height: 100vh;
  opacity: 1;
}

.module_title{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 20px 10px 20px;
  margin: 0 30px 0 30px;
  border-radius: 100px;
  background-color: rgba(0,0,0,0.1);
  height: var(--input_height);
}

.module_parameter{
  padding: 10px;
}

.module_description{
  padding: 10px;
  width: 200px;
  text-align: center;
}

.black_blur{
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0,0,0,0.6);
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  z-index: 99;
}
/*|___________________________________________________|*/





/*###################################################*/
/*  ADD MODULES BUTTON  #############################*/
/*###################################################*/

#button_add_module{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: white;
  margin: 20px;
  border-bottom: 4px solid rgba(0,0,0,0.2);
  border-left: 5px solid rgba(0,0,0,0.2);
  background-image: url(../img/croix.png);
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#button_add_module:hover{
  -webkit-transition: 0.1s all linear;
  transition: 0.1s all linear;
  background-size: 60px;
}
/*|___________________________________________________|*/





/*###################################################*/
/*    SETTINGS POPUP  ###############################*/
/*###################################################*/

 #settings_menu{
   opacity: 0;
   background-color: rgba(30,30,30,0.8);
   display: none;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   position: fixed;
   top: 0;
   right: 0;
   width: 100vw;
   height: 100vh;
   z-index: 200;
 }

 #settings_window{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   background-color: white;
   border-radius: 20px;
   height: var(--add_module_height);
   position: relative;
 }

 #close_settings_window{
   position: absolute;
   top: -15px;
   left: -15px;
   width: 40px;
   height: 40px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   border-radius: 100px;
   background-color: white;
   cursor: pointer;
 }

 #settings_title{
   display: -webkit-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: start;
       -ms-flex-pack: start;
           justify-content: flex-start;
   padding: 10px 20px 10px 20px;
   border-radius: 100px;
   background-color: rgba(0,0,0,0.1);
   height: var(--input_height);
 }

 #settings_list{
   list-style-type: none;
   padding: 0;
   margin: 20px;
 }
 /*|___________________________________________________|*/




/*###################################################*/
/*ADD MODULE POPUP    ###############################*/
/*###################################################*/

.pop_module_menu{
  opacity: 0;
  background-color: rgba(30,30,30,0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 199;
}

.pop_module_form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-radius: 20px;
  height: var(--add_module_height);
  position: relative;
}

.pop_module_window{
  position: absolute;
  top: -15px;
  left: -15px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  background-color: white;
  cursor: pointer;
}

.pop_module_title{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 20px 10px 20px;
  border-radius: 100px;
  background-color: rgba(0,0,0,0.1);
  height: var(--input_height);
}

.pop_module_description{
  padding: 10px;
}

.pop_module_name{
  padding: 10px;
}

.pop_module_select_color{
  border: none;
  border-radius: 100px;
  position: absolute;
  width:100px;
  height: 100px;
  top:-50px;
  left:-50px;

}

.pop_module_select_color_container{
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  width: var(--input_height);
  height: var(--input_height);
  margin-left: 20px;
}

.pop_module_submit{
  height: var(--add_module_height);
  min-width: 100px;
  background-color: rgb(50,50,50,0.1);
  border-radius: 0 20px 20px 0;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75px;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  cursor: pointer;
}

.pop_module_submit:hover{
  background-color: rgb(50,50,50,0.3);
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}

.pop_module_command{
  padding: 10px 10px 10px 35px;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 20px;
  width: calc(var(--input_width) - 35px);
  -webkit-transition: 1s all ease-out;
  transition: 1s all ease-out;
}


.pop_module_command:focus{
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  width: calc(var(--input_width) + 150px);
}

.pop_module_parameter{
  margin-left: 20px;
}

.pop_module_list{
  list-style-type:none;
  padding: 0;
  margin: 20px;
}
/*|___________________________________________________|*/



/*###################################################*/
/*LIST     ##########################################*/
/*###################################################*/

li{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 10px 0 10px 0;
}

ul{
  margin: 0;
  padding: 0;
}
/*|___________________________________________________|*/




/*###################################################*/
/*INPUT    ##########################################*/
/*###################################################*/

input{
  color: black;
}

input[type=submit]{
  display: inline-block;
  border: none;
}

input[type="text"]{
  height: var(--input_height);
  border-radius: 500px;
  background-color: rgba(0,0,0,0.1);
  border: none;
}

input[type="button"]{
  height: 50px;
  width: calc(var(--input_width) + 20px);
  border-radius: 500px;
  background-color: rgba(0,0,0,0.1);
  border: none;
  border-bottom: 3px solid rgba(0,0,0,0.1);
  margin: 0;
}

input[type="button"]:active{
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

input[type="checkbox"].switch{
	font-size: 30px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 2.5em;
	height: var(--input_height);
	background: #ddd;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }

  input[type="checkbox"].switch:checked{
	background: var(--custom_color);
  }

  input[type="checkbox"].switch:after{
	position: absolute;
	content: "";
	width: var(--input_height);
	height: var(--input_height);
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }

  input[type="checkbox"].switch:checked:after{
	left: calc(100% - var(--input_height));
  }
/*|___________________________________________________|*/



/*###################################################*/
/*LOADER    #########################################*/
/*###################################################*/

  #loader {
  z-index           : 300;
  display           : -webkit-box;
  display           : -ms-flexbox;
  display           : flex;
  position          : fixed;
  top               : 0;
  right             : 0;
  width             : 100vw;
  height            : 100vh;
  background-color  : rgb(40,40,40);
  -webkit-box-align       : center;
      -ms-flex-align       : center;
          align-items       : center;
  -webkit-box-pack   : center;
      -ms-flex-pack   : center;
          justify-content   : center;
  -webkit-box-orient    : vertical;
  -webkit-box-direction    : normal;
      -ms-flex-direction    : column;
          flex-direction    : column;
  opacity           : 1;
}

#wheel {
  z-index             : 100;
  display             : inline-block;
  position            : relative;
  width               : 70px;
  height              : 70px;
  border              : 6px solid transparent;
  border-top-color    : rgb(230,230,230);
  border-bottom-color : rgb(230,230,230);
  border-radius       : 50px;
  -webkit-animation   : spin 2s linear infinite;
  animation           : spin 2s linear infinite;
}

#wheel:after {
  content           : "";
  position          : absolute;
  top               : 5px;
  right             : 5px;
  bottom            : 5px;
  left              : 5px;
  border            : 6px solid transparent;
  border-top-color  : rgb(160,160,160);
  border-radius     : 50px;
  -webkit-animation : spin 1.5s linear 0s infinite;
  animation         : spin 1.5s linear 0s infinite;
}

#loader_info{
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-name: loaderinfo;
          animation-name: loaderinfo;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  color: rgba(0,0,0,0);
  -webkit-animation-fill-mode: forwards;
  font-size: 1.3em;
  margin: 100px;
}

@-webkit-keyframes loaderinfo {
  from {
    color: rgba(0, 0, 0, 0);
  }

  to {
    color: rgba(200,200,200,1);
  }
}

@keyframes loaderinfo {
  from {
    color: rgba(0, 0, 0, 0);
  }

  to {
    color: rgba(200,200,200,1);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform : rotate(0deg);
    transform         : rotate(0deg);
  }

  100% {
    -webkit-transform : rotate(360deg);
    transform         : rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform : rotate(0deg);
    transform         : rotate(0deg);
  }

  100% {
    -webkit-transform : rotate(360deg);
    transform         : rotate(360deg);
  }
}
/*|___________________________________________________|*/




/*###################################################*/
/*MEDIA QUERY  ######################################*/
/*###################################################*/

@media only screen and (max-width: 980px) {
 #footer_content {
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
 }
 footer{
   height: auto;
   padding: 20px 0 20px 0;
 }
 .vertical_line{
   width: 100px;
   height: 0px;
   border-bottom: 2px solid rgb(130,130,130);
   margin: 30px 0 30px 0;
 }
}
/*|___________________________________________________|*/
